[submodule "addons/skin.arctic.fuse.2"]
	path = addons/skin.arctic.fuse.2
	url = https://github.com/signde/skin.arctic.fuse.2.git
	branch = omega
[submodule "addons/skin.arctic.zephyr.mod"]
	path = addons/skin.arctic.zephyr.mod
	url = https://github.com/signde/skin.arctic.zephyr.mod.git
	branch = master
[submodule "addons/script.texturemaker"]
	path = addons/script.texturemaker
	url = https://github.com/jurialmunkey/script.texturemaker.git
	branch = main
[submodule "addons/script.skinvariables"]
	path = addons/script.skinvariables
	url = https://github.com/jurialmunkey/script.skinvariables.git
	branch = nexus
#[submodule "addons/script.skin.helper.colorpicker"]
#	path = addons/script.skin.helper.colorpicker
#	url = https://github.com/kodi-community-addons/script.skin.helper.colorpicker.git
#	branch = master
[submodule "addons/script.module.jurialmunkey"]
	path = addons/script.module.jurialmunkey
	url = https://github.com/jurialmunkey/script.module.jurialmunkey.git
	branch = main
[submodule "addons/resource.font.robotocjksc"]
	path = addons/resource.font.robotocjksc
	url = https://github.com/jurialmunkey/resource.font.robotocjksc.git
	branch = main
[submodule "addons/plugin.video.themoviedb.helper"]
	path = addons/plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper.git
	branch = nexus
#[submodule "addons/screensaver.matrix"]
#	path = addons/screensaver.matrix
#	url = https://github.com/CE-Repo/screensaver.matrix.git
#	branch = main
[submodule "addons/script.wikipedia"]
	path = addons/script.wikipedia
	url = https://github.com/signde/script.wikipedia.git
	branch = main
#[submodule "addons/skin.embuary"]
#	path = addons/skin.embuary
#	url = https://github.com/CE-Repo/skin.embuary.git
#	branch = master
#[submodule "addons/skin.arctic.horizon.2"]
#	path = addons/skin.arctic.horizon.2
#	url = https://github.com/CE-Repo/skin.arctic.horizon.2.git
#	branch = main
[submodule "addons/script.skinhelper"]
	path = addons/script.skinhelper
	url = https://github.com/DenDyGH/script.skinhelper.git
	branch = main
#[submodule "addons/script.skin.helper.skinbackup"]
#	path = addons/script.skin.helper.skinbackup
#	url = https://github.com/kodi-community-addons/script.skin.helper.skinbackup.git
#	branch = master
[submodule "addons/skin.arctic.fuse.3"]
	path = addons/skin.arctic.fuse.3
	url = https://github.com/signde/skin.arctic.fuse.3.git
	branch = omega
[submodule "addons/skin.confluence"]
	path = addons/skin.confluence
	url = https://github.com/signde/skin.confluence.git
	branch = master
[submodule "addons/skin.bingie"]
	path = addons/skin.bingie
	url = https://github.com/signde/skin.bingie.git
	branch = omega
[submodule "addons/script.bingie.helper"]
	path = addons/script.bingie.helper
	url = https://github.com/matke-84/script.bingie.helper.git
	branch = master
[submodule "addons/plugin.program.autocompletion"]
	path = addons/plugin.program.autocompletion
	url = https://github.com/matke-84/plugin.program.autocompletion.git
	branch = master
[submodule "addons/skin.aeon.nox.silvo"]
	path = addons/skin.aeon.nox.silvo
	url = https://github.com/signde/skin.aeon.nox.silvo.git
	branch = omega
[submodule "addons/skin.arctic.zephyr.2.resurrection.mod"]
	path = addons/skin.arctic.zephyr.2.resurrection.mod
	url = https://github.com/signde/skin.arctic.zephyr.2.resurrection.mod.git
	branch = omega
[submodule "addons/plugin.video.tmdb.bingie.helper"]
	path = addons/plugin.video.tmdb.bingie.helper
	url = https://github.com/signde/plugin.video.tmdb.bingie.helper.git
	branch = main
